@page 
@model ASPA007_1.Pages.CelebritiesModel

@using static DAL_Celebrity_MSSQL.DAL_Celebrity_MSSQL;

@{
    // Celebrities.cshtml
    Layout = "_CelebritiesLayout";
    int h = 150, w = 0;                           // высота, ширина
    string apipath = "/api/Lifeevents/Celebrities/"; // события для Id-знаменитости
}

@* <link rel="stylesheet" href="/ANC25_WEBAPI_DLL.styles.css" /> *@

@section subhead 
{
    <h2>Celebrities</h2>
}

<img id="0"
     src="@Model.PhotoRequestPath/NewCelebrity.jpg"
     onload="onPhotoLoad(this, @h,@w)"
     onclick="onPhotoClick(0)" />

@foreach (Celebrity c in Model.Celebrities)      // по всем знаменитостям
{
    <img id="@c.id"
         src="@Model.PhotoRequestPath/@c.ReqPhotoPath"
         onload="onPhotoLoad(this, @h,@w)"
         onclick="onPhotoClick('@c.id')" />
}

@section foot
{
    <hr/>
    <table> <tbody id="Lifeevents"></tbody> </table>
}



<script>
    function onPhotoLoad(e,h,w){                         // выравниваем фото по высоте с соблюдение пропорции
        let k = e.naturalWidth / e.naturalHeight;
        if (h != 0 && w == 0) e.width = k * h;
        if (h == 0 && w != 0) e.height = w / k;
    }

    function onPhotoClick(id){

        window.location.href = `/${id}`;
    }

</script>