@using DAL_Celebrity_MSSQL;
@using DAL_Celebrity;
@using ASPA008_1.Helpers;
@using static DAL_Celebrity_MSSQL.DAL_Celebrity_MSSQL

@model ASPA008_1.Controllers.CelebritiesController.IndexModel

@{

    //Celebrities/Index.cshtml
    Layout = "_CelebritiesLayout";

}

@section subhead
{
    <h2>Celebrities</h2>
}

@Html.CelebrityPhoto(0, "New Celebrity",$"{Model.PhotosRequestPath}/{"NewCelebrity.jpg"}")

@foreach (Celebrity c in Model.Celebrities)
{
    @Html.CelebrityPhoto(c.Id, c.FullName, $"{Model.PhotosRequestPath}/{c.ReqPhotoPath}")
}

@section foot
{
    @* <h2>FOOT</h2>*@
}



