@using DAL_Celebrity_MSSQL;
@using System.Globalization;
@using ASPA008_1.Helpers;
@using static DAL_Celebrity_MSSQL.DAL_Celebrity_MSSQL;

@model ASPA008_1.Controllers.CelebritiesController.HumanModel;

@{
    // Views/Celebrities/NewHumanForm.cshtml
    Layout = "_CelebritiesLayout";
    var celebrity = Model.celebrity;
    string photoPath = $"{Model.photosrequestpath}/{celebrity.ReqPhotoPath}";
}

@section subhead {
}

<div style="display: flex;">
    <div class="celebrity-box">
        @Html.CelebrityPhoto(0, "New Celebrity", photoPath)
    </div>

    <div class="celebrity-box">
        <partial name="_InFormNewCelebrity" model="@celebrity" />
    </div>
</div>

@section foot {
}